<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>Users database</title>
 </head>
 <body>
  <table border="1">
   <caption>Users database</caption>
   <tr>
    <th>id</th>
    <th>nickname</th>
    <th>score</th>
    <th>status</th>
   </tr>
   {% for user in rating %}
			<tr>
                        <th>{{user[0]|e}}</th><th>{{user[1]|e}}</th><th>{{user[2]|e}}</th><th>{{user[3]|e}}</th>
			</tr> 
		{% endfor %}
  </table>
  <a href ="{{url_for('database', start=start, amount=amount)}}">Next</a>
 </body>
</html>
